<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>222466984920-4j6vlui96aonre9mpvq85hf1631l5177.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.222466984920-4j6vlui96aonre9mpvq85hf1631l5177</string>
	<key>API_KEY</key>
	<string>AIzaSyBNp3Inu_gjylYi4muezeAj_S6jLdC1_eo</string>
	<key>GCM_SENDER_ID</key>
	<string>222466984920</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>library</string>
	<key>PROJECT_ID</key>
	<string>library-azer123654</string>
	<key>STORAGE_BUCKET</key>
	<string>library-azer123654.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:222466984920:ios:0db9d34434eb8faa02c0ad</string>
</dict>
</plist>